<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applicaster.adobe.login">

    <application>
        <activity android:name=".webview.LoginProviderActivity"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="com.adobe.adobepass.accessenabler.api.AccessEnablerService"
            android:exported="false"
            android:label="AccessEnabler service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>